<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CinemaBooking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CinemaBooking.Properties.Settings.CinemaBookingConnectionString" connectionString="Data Source=DESKTOP-T77D5QL\SQLEXPRESS;Initial Catalog=CinemaBooking;Persist Security Info=True;User ID=sa;Password=test1234" providerName="System.Data.SqlClient"/>
    <add name="FFSaleEntities" connectionString="metadata=res://*/FFSaleDataModel.csdl|res://*/FFSaleDataModel.ssdl|res://*/FFSaleDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-T77D5QL\SQLEXPRESS;initial catalog=FFSale;user id=sa;password=test1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CinemaBookingEntities" connectionString="metadata=res://*/CinemaBookingDataModel.csdl|res://*/CinemaBookingDataModel.ssdl|res://*/CinemaBookingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-T77D5QL\SQLEXPRESS;initial catalog=CinemaBooking;user id=sa;password=test1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <userSettings>
    <CinemaBooking.Properties.Settings>
      <setting name="SeatSelectionZoomLevel" serializeAs="String">
        <value>M</value>
      </setting>
    </CinemaBooking.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
